#contact {
    .wrapper {

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 100%;
        display: flex;
        // flex-direction: column;
        // align-items: center;
        // font-size: 2.2vw;
        justify-content: space-evenly;
        // flex-wrap: wrap;
        padding: 0vw 5vw;
        gap: 10%;
        background-color: #fcfaf8;
        
        .contact-info {
            // padding: 6vw 6vw;
                // display: block;
                font-size: 2vw;
                color: #a2a2a2;
                // text-transform: uppercase;
                // margin-bottom: 25px;
                h3 {
                    text-transform: uppercase;
                }
        }

        .form-container {
            width: 100%;
            text-align: center;
            input {
                border: 1px solid #fcfaf8;
                // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
                box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.26);
                width: 100%;
                padding: 1vw;
                margin: 1vw;
                border-radius: 10px;
            }
            textarea {
                // border: 1px solid rgba(65, 65, 65, .3);
                border: 1px solid #fcfaf8;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
                border-radius: 10px;
                width: 100%;
                margin: 1vw;
                padding: 1vw;
                // width: 80vw;
            }
            button {
                // text-decoration: none;
                font-size: 2vw;
                padding: 5px 10px;
                color: #333;
                border: 1px solid #fcfaf8;
                box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.26);
                // border: none;
                border-radius: 4px;
                &:hover {
                    background-color: #14cf93;
                    color: #fcfaf8;
                    transition: 0.2s;
                }
            }

            // button {
            // }
        }

        .social-icons {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: flex-start;
            gap: 5%;
            // color: red;
            // &:hover {
                
            // }
            i {
                font-size: 2.5vw;
                color: rgba(65, 65, 65, .3);
                &:hover {
                    transition: 0.2s;
                    color: #14cf93;;
                }
            }
        }
    }
}