footer {
  background-color: #a2a2a2;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 10vh; /* Make the footer span the full width */
}

footer p {
  color: #fcfaf8;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.5; /* Adjust line height as needed */
}

footer a:hover {
  color: red;
}

footer .up-arrow {
  transform: rotate(180deg);
  padding-left: 5%;
  width: auto; /* Adjust the size of the arrow icon */
}
