footer {
  background-color: #a2a2a2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; // This adds space between the text and the icon
}

footer p {
  color: #fcfaf8;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.5;
}

footer a:hover {
  color: red;
}

footer .up-arrow {
  transform: rotate(180deg);
  width: 30px; // Adjust this value to change the icon size
  height: auto;
}