@font-face {
  font-family: "Mazius";
  /*Can be any text*/
  src: local("Mazius"),
    url("/styles/fonts/Mazius\ Display\ Extraitalic.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  /*Can be any text*/
  src: local("Gilroy"), url("/styles/fonts/Gilroy-Light.otf") format("opentype");
}

html {
  font-family: "Gilroy";
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  /* basic font size = 10px */
}

body {
  background-color: #fcfaf8;
}

#home {
  width: 100%;
  height: 100%;
  background-color: #fcfaf8;
}

header {
  position: sticky;
  top: 0;
  z-index: 9000;
  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 100px;

    a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
      color: black;

      &:hover #line2 {
        width: 0% !important;
      }

      &:hover #line1 {
        width: 100% !important;
      }

      .line {
        position: absolute;
        bottom: 0;
        display: inline-block;
        height: 1px;
        background-color: #000;
      }

      #line1 {
        left: 0;
        width: 0%;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        transition-delay: 0.2s;
      }

      #line2 {
        right: 0;
        width: 100%;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
      }
    }
  }
}

.row {
  display: flex;
  margin-top: 5vw;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #333;
  padding: 0 7vw;
  padding-right: 12vw;
  line-height: 1.2;

  &:nth-child(3) {
    margin-top: 0;
  }

  .text {
    text-transform: uppercase;
    margin-top: 0vw;
  }

  h1 {
    font-size: 10vw;
    font-weight: 600;
    margin: 0;
  }

  h5 {
    opacity: 0.6;
    font-size: 1.1vw;
    font-weight: 500;
    margin: 0;
  }

  svg {
    height: 8vw;
    margin: 0 2.5vw;
  }

  path,
  polyline {
    stroke: #14cf93;
  }
}
