#main {
    // position: relative;
    // when using position: relative it is able to move relative to it's original position, or stacked box area
    width: 100%;
    // takes up 100% of it's block. remember that there are different types of display. display block will take up left to right of where it's being stacked
    // height: 100%;
    // unlike width, height: 100% does not represent the browser's height, it is based on an element's parent's height, and if the parent element has no set height, the element will not grow.
    // If we would like our elements to take up 100% of the browser's height, using the viewport height unit to set height: 100vh is a better choice.
    // background-color: red;
}

#loader {
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: #fff;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 4vw;
        font-weight: 500;
        span {
            font-family: 'Mazius';
        }
    }
    #topheading {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        h5 {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}

#green {
    // when using position: absolute it's removed from the general flow or stacking of the page
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color: #14cf93;
}

#elem {
    width: 100%;
    // when using position: absolute it's removed from the general flow or stacking of the page
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: rgb(82, 162, 146);
}

#white {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    background-color: #dadada;
}

// h1 {
//     background-color: red;
//     margin: 0;
//     .parent {
//         display: block;
//         overflow: hidden;
//         background-color: red;
//         .child {
//             display: block;
//             transform: translate(0, 100%);
//             background-color: yellow;
//         }
//     }
// }