/* ---------------------------- RESPONSIVE DESIGN --------------------------- */

@media screen and (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
// @media only screen and (min-resolution: 192dpi) and (min-device-pixel-ratio: 2) {
//   #home {
//     .row {
//       .text {
//         h5 {
//           font-size: 2vw;
//         }
//       }
//     }

//     #imagery {
//       margin-top: 0;

//       .img-left h1 {
//         font-size: 3.4vw;
//       }
//     }
//   }

//   #projects {
//     padding-top: 0px;

//     .services {
//       .serviceDetails {
//         font-size: 4vw;
//       }

//       div {
//         h1 {
//           font-size: 4vw;
//         }
//       }
//     }

//     .skills {
//       .set {
//         li {
//           .fa-brands,
//           .fa-solid {
//             font-size: 5vw;
//           }

//           p {
//             font-size: 6vw;
//             letter-spacing: 1.5px;
//             text-transform: uppercase;
//             color: #333;
//           }
//         }
//       }
//     }

//     .projects-wrap {
//       .project-row {
//         margin-top: 5vh;
//       }
//     }
//   }

//   #about {
//     height: 80vh;
//   }

//   #contact {
//     .wrapper {
//       display: flex;
//       flex-direction: column;
//       div.contact-info {
//         font-size: 3vw;
//       }
//       .social-icons {
//         font-size: 3vw;
//         .fab {
//           font-size: 5vw;
//         }
//       }
//     }
//   }

//   /* Your CSS styles for phones with higher pixel density here */
// }

@media screen and (width <= 767px) {
  #home {
    header {
      #nav {
        height: 10vh;
      }
    }
    .row {
      .text {
        h5 {
          font-size: 2vw;
        }
      }
    }

    #imagery {
      height: 50vh;
      margin-top: 0;

      .img-cards {
        width: 100%;
        // min-height: 200px;
        height: 50%;
      }

      .img-left h1 {
        font-size: 3.4vw;
      }
    }
  }

  #projects {
    // height: 50vh;

    .services {
      .serviceDetails {
        font-size: 4vw;
      }

      div {
        h1 {
          font-size: 4vw;
        }
      }
    }

    .skills {
      .set {
        li {
          .fa-brands,
          .fa-solid {
            font-size: 5vw;
          }

          p {
            font-size: clamp(2rem, 3vw, 3rem);
            letter-spacing: 1.5px;
            text-transform: uppercase;
            color: #333;
          }
        }
      }
    }

    .projects-wrap {
      .project-row {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
      }
    }
  }

  #about {
    // height: 80vh;
  }

  #contact {
    .wrapper {
      display: flex;
      flex-direction: column;
      div.contact-info {
        font-size: clamp(1rem, 3vw, 2rem);
      }
      .social-icons {
        font-size: 3vw;
        .fab {
          font-size: 5vw;
        }
      }
    }
  }

  /* all of our styles for MOBILE devices will go within this breakpoint */
}

// @media screen and (max-width: 500px), screen and (max-height: 490px) {
// }
