#projects {
  transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
  padding-top: 100px;
  // couldn't see h1 cause image was covering it
  position: relative;
  width: 100%;
  min-height: 270vw;
  background-color: #f2f2f2;

  &::before {
    content: " ";
    display: block;
    top: -75px;
    position: absolute;
    width: 100%;
    height: 150px;
    transform: rotate(-180deg);
    background-image: url("../../assets/rip.f6d7c4dd.svg");
    background-size: cover;
  }

  .projects-wrap {
    padding-bottom: 10%;
  }

  .skills {
    padding: 0 5vw;
    margin: 20vw 5vw;

    .set {
      padding-inline-start: 0;
      // width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;

      li {
        width: 20%;
        text-align: center;
        font-size: 1.2vw;

        i {
          font-size: 2.4vw;
          color: #a2a2a2;
        }

        p {
          letter-spacing: 1.5px;
          text-transform: uppercase;
          font-size: 1.5vw;
          color: #a2a2a2;
        }
      }
    }
  }
}

.services {
  display: flex;
  padding: 0 5vw;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10vw;

  .o-ui-arrow {
    // color: #333;
    width: auto;
    // transform: rotate(90deg);
    stroke: rgba(65, 65, 65, 0.3);
  }

  div {
    margin-left: 10vw;

    h1 {
      font-size: 2.4vw;
      letter-spacing: 1px;
      font-weight: 500;
      color: #333;
    }
  }

  .serviceDetails {
    display: block;
    font-size: 2vw;
    color: #a2a2a2;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

hr {
  // can't see right now still needs to be adjusted
  border: none;
  height: 1px;
  // transform: scaleX(1);
  width: 80%;
  background-color: rgba(65, 65, 65, 0.3);
  margin: 15vh 0 0vh 12%;
}

.workrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    color: #333;
    // padding: 0 10vh;
    font-size: 7vw;
    font-weight: 600;
    margin: 15vh 0vh;
  }

  .o-ui-arrow {
    // color: #333;
    width: auto;
    transform: rotate(90deg);
    stroke: rgba(65, 65, 65, 0.3);
  }
}

#showcase {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6vw;
  position: relative;
  width: 100%;
  padding: 0 5vw;

  .cnt {
    border-radius: 50px;
    width: 55%;
    overflow: hidden;

    img {
      transition: filter cubic-bezier(0.19, 1, 0.22, 1) 2s;
      width: 100%;
    }
  }

  .cnt1 {
    width: 55%;
  }

  .cnt2 {
    width: 28%;
  }

  .cnt3 {
    width: 55%;
    transform: translate(35%);
  }
}

#cursor {
  position: fixed;
  width: 17vw;
  top: 0;
  left: 0;
  z-index: 11;

  > div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

    .crow {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      padding: 0.6vw;

      .ccircle {
        width: 2vw;
        height: 2vw;
        border: 2px solid #fff;
        border-radius: 50%;
      }

      .ccapsule {
        padding: 0.7vw 3vw;
        border-radius: 100px;
        background-color: #fff;
      }
    }

    #elem {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        opacity: 0;
        animation: an 4s linear infinite;
        position: absolute;
        border-radius: 30px;
        border: 1px solid #fff;

        &:nth-child(2) {
          animation-delay: 1s;
        }

        &:nth-child(3) {
          animation-delay: 2s;
        }

        &:nth-child(4) {
          animation-delay: 3s;
        }

        &:nth-child(5) {
          animation-delay: 4s;
        }

        @keyframes an {
          0% {
            opacity: 1;
          }

          20% {
            opacity: 1;
          }

          21% {
            opacity: 0;
          }

          40% {
            opacity: 0;
          }

          60% {
            opacity: 0;
          }

          80% {
            opacity: 0;
          }

          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}

.project-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15vh;

  .u-width-1 {
    width: 102%;

    a {
      padding-top: 75% !important;
    }
  }

  .u-width-2 {
    width: 100%;
    transform: translate(-7%, 0);

    a {
      padding-top: 0% !important;
    }
  }

  .u-width-3 {
    width: 70%;
    // min-height: 25vh;
    transform: translate(17%, 0);

    a {
      padding-top: 3% !important;
    }
  }

  .u-width-4 {
    width: 100%;
    z-index: 2;
    transform: translate(0, 42%);

    a {
      padding-top: 3% !important;
    }
  }

  .u-width-5 {
    width: 100%;

    a {
      padding-top: 3% !important;
    }
  }
}

.project-items {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  margin: 0vw 6vw;

  &:hover .project-info > p {
    opacity: 1;
    transform: translate(0);
  }

  &:hover .project-info > p:nth-child(2) {
    transition-delay: 0.3s !important;
  }

  &:hover {
    img {
      filter: saturate(0);
    }
  }

  a {
    display: block;
    text-decoration: none;

    img {
      position: absolute;
      width: 102%;
      transform: scale(1.15);
      left: -2%;
      top: 0;
    }
  }
}

.project-info {
  width: auto;
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 0 0 20px 20px;

  > p {
    display: block;
    padding: 12px 30px;
    font-size: 10px;
    background: #fff;
    color: #282828;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.4s;
  }

  p {
    width: max-content;
    border-radius: 200px;

    &:first-child {
      transition-delay: 0.1s;
    }

    &:nth-child(2) {
      transition-delay: 0.2s;
    }
  }

  .project-title {
    display: flex;

    p {
      font-size: 2vw;
      text-transform: uppercase;
      letter-spacing: 1.6px; 
      background: #fff;
      padding: 12px 30px;
      color: #282828;
    }

    .project-button {
      background-color: #fff;
      border-radius: 100px;
      padding: 10px;
      display: flex;
      height: max-content;

      svg {
        width: 13px;
      }
    }
  }
}

// #about {
//     transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
//     padding-top: 100px;
//     // couldn't see h1 cause image was covering it
//     position: relative;
//     width: 100%;
//     min-height: 70vh;
//     background-color: #f2f2f2;

//     .about-title {
//         h1 {
//             display: block;
//             font-size: 2vw;
//             color: #a2a2a2;
//             // text-transform: uppercase;
//             margin-bottom: 25px;
//         }
//     }
// }

#about {
  transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
  // display: flex;
  // couldn't see h1 cause image was covering it
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // justify-content: space-between;
  padding-top: 10%;
  width: 100%;
  height: 100vh;
  background-color: #fcfaf8;

  &::before {
    content: " ";
    display: block;
    top: -50px;
    position: absolute;
    width: 100%;
    height: 160px;
    transform: rotate(0deg);
    background-image: url("../../assets/rip.f6d7c4dd.svg");
    background-size: cover;
  }

  .about-title {
    display: flex;
    position: relative;
    // align-items: center;
    // justify-content: space-between;
    // text-transform: uppercase;
    // font-size: 2.4vw;
    // letter-spacing: 1px;
    // font-weight: 500;
    // color: #333;

    h1 {
      // display: flex;
      font-size: 5vw;
      letter-spacing: 1px;
      font-weight: bold;
      // color: #a2a2a2;
      color: #333;
      margin: 5vh 0vh;
    }

    .seperator {
      border: none;
      height: 1px;
      width: 83%;
      background-color: rgba(65, 65, 65, 0.3);
      margin: 12vh 0 0vh 0%;
    }

    p {
      font-size: 2.2vw;
    }

    img {
      width: 10%;
      // left: 20%;
      margin: 2vw;

      // position: absolute;
      // flip img horizontally
      transform: scaleX(-1);
      /* Optional: Preserve the original aspect ratio */
      transform-origin: center;
    }

    // .o-ui-arrow {
    //     // color: #333;
    //     // width: auto;
    //     width: 6vw;
    //     transform: rotate(-47deg);
    //     stroke: rgba(65, 65, 65, .3);
    // }
  }

  div {
    font-size: 2.4vw;
    letter-spacing: 1px;
    font-weight: 500;
    color: #333;
    padding: 0vw 5vw;
  }
}
